.budda-section {
    position: relative;
    overflow: hidden;
    padding-bottom: 150px;
    
    @include tablets() {
        background: url('~images/content/budda.png') center center / cover no-repeat;        
    }
}