.contacts {
    min-height: 960px;
    display: grid;
}

.contacts__container {
    display: grid;
    grid-template-rows: 10% 1fr;
    grid-row-gap: 40px;
    align-items: center;
    align-self: center;
}