.contacts {
    display: grid;
    margin-top: 150px;
    margin-bottom: 120px;
}

.contacts__container {
    display: grid;
    grid-template-rows: 10% 1fr;
    grid-row-gap: 40px;
    align-items: center;
    align-self: center;

    @include tablets() {
        text-align: center;
    }
}