.reviews {
    display: grid;
    padding-top: 120px;
    margin-bottom: 100px;
}

.reviews__container {
    display: grid;
    grid-template-rows: 20% 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "reviews-title"
    "reviews-content";
    align-items: center;
    align-self: center;
    grid-row-gap: 60px;
}

.reviews__title {
    grid-area: reviews-title;

    @include phones {
        text-align: center;
    }
}

.reviews__content {
    grid-area: reviews-content;
}