.skill {
    position: relative;
}

.skill__shape {
    width: 200px;
    height: 200px;

    @include phones() {
        width: 180px;
        height: 180px;
    }
}

.skill__circle {
    fill: transparent;
}

.skill__circle--position-under {
    stroke: #ccc;
    stroke-width: 10px;
}

.skill__circle--position-above {
    stroke: url("#gradient");
    stroke-width: 20px;
    stroke-dasharray: 200;
}

.skill__title {
    position: absolute;
    top: 40%;
    left: 50px;
}