.skill__shape {
    width: 200px;
    height: 200px;
}

.skill__circle {
    fill: transparent;
}

.skill__circle--position-under {
    stroke: #ccc;
    stroke-width: 3px;
}

.skill__circle--position-above {
    stroke: green;
    stroke-width: 5px;
    stroke-dasharray: 250;
}