.tags__list {
    display: flex;
}

.tags__item {
    margin: 0 20px;
    background: rgba($text-color, .1);
    color: $text-color;
    border-radius: 30px;
    padding: 10px 20px;

    &:last-child {
        margin-right: 0;
    }
}