.triangles-reviews {
    margin-bottom: 100px;
}

.triangles-reviews__item {
    width: 100%;
    display: block;
    height: 100px;
    fill: white;

    @include tablets() {
        height: 50px;
    }
    
    @include phones() {
        height: 25px;
    }
}
