.triangles {
    display: flex;
    margin-top: -100px;
    color: white;
}

.triangles--lightblue {
    color: #dce5f1;
}

.triangles__item {
    width: 50%;
    display: block;
    height: 100px;
    fill: currentColor;
}
