.triangles {
    display: flex;
    margin-top: -100px;
    color: white;

    @include tablets() {
        margin-top: -50px;
    }

    @include phones() {
        margin-top: -25px;
    }
}

.triangles--lightblue {
    color: #dce5f1;
    margin-top: 120px;
}

.triangles__item {
    width: 50%;
    display: block;
    height: 100px;
    fill: currentColor;

    @include tablets() {
        height: 50px;
    }
    
    @include phones() {
        height: 25px;
    }
}
