//- .budda-parallax
//-     .b-parallax__layer(data-speed="0.1")
//-         +image('parallax/buddabg3.png', 'b-parallax__image')
//-     .b-parallax__layer(data-speed="0.2")
//-         +image('parallax/buddabg2.png', 'b-parallax__image')
//-     .b-parallax__layer(data-speed="0.3")
//-         +image('parallax/buddabg.png', 'b-parallax__image')
//-     .b-parallax__layer(data-speed="0.4")
//-         +image('parallax/buddha.png', 'b-parallax__image')
//-     .b-parallax__layer(data-speed="0.5")
//-         +image('parallax/cloud_3.png', 'b-parallax__image')
//-     .b-parallax__layer(data-speed="0.6")
//-         +image('parallax/cloud_2.png', 'b-parallax__image')
//-     .b-parallax__layer(data-speed="0.7")
//-         +image('parallax/cloud_1.png', 'b-parallax__image')