.budda-parallax
    .b-parallax__layer(data-speed="0.1")
        +image('parallax/buddabg3.png', 'b-parallax__image')
    .b-parallax__layer(data-speed="0.15")
        +image('parallax/buddabg2.png', 'b-parallax__image')
    .b-parallax__layer(data-speed="0.20")
        +image('parallax/buddabg.png', 'b-parallax__image')
    .b-parallax__layer(data-speed="0.45")
        +image('parallax/buddha.png', 'b-parallax__image')
    .b-parallax__layer(data-speed="0.30")
        +image('parallax/cloud_3.png', 'b-parallax__image')
    .b-parallax__layer(data-speed="0.35")
        +image('parallax/cloud_2.png', 'b-parallax__image')
    .b-parallax__layer(data-speed="0.40")
        +image('parallax/cloud_1.png', 'b-parallax__image')