script(type="text/x-template")#reviews-slider
    .column-slider
        .column-slider__header
            .section-title.column-slider__title Что обо мне говорят
            .column-slider__btns
                button(@click="previous()").column-slider__btn.column-slider__btn--prev  
                    +icon('arrow-down', 'column-slider-icon column-slider-icon--prev')
                button(@click="next()").column-slider__btn.column-slider__btn--next
                    +icon('arrow-down', 'column-slider-icon column-slider-icon--next')
        flickity(ref="flickity" :options="flickityOptions").column-slider__content
            .column-slider__block(v-for="review in reviews" :key="review.author").carousel-cell
                reviews-block(
                    :review="review"
                )

script(type="text/x-template")#reviews-block
    .column-slider__review
        .column-slider__text.section-text
            p {{review.text}}
        .column-slider__member.member
            .avatar.member__avatar
                img(:src="review.photo").avatar__pic
            .member__info
                .member__name {{review.author}}
                .member__position.section-text {{review.title}}