footer.footer
    .container.footer__container
        .footer__first
            .footer__year &copy 2019
            .footer__user Перизат Кожагельдина
            .footer__desc Личный сайт веб-разработчика
        .footer__second
            .footer__menu
                +menu(menu)
            .footer__text
                .footer__info
                    .footer__prolog Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                    .footer__socials
                        +socials(icons)
                .footer__advice
                    .advice__text
                        p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    .advice__author Martin Golding