.mainparallax
    .parallax__layer(data-speed="0.1")
        +image('parallax/sky.png', 'parallax__image')
    .parallax__layer(data-speed="0.2")
        +image('parallax/mountain.png', 'parallax__image')
    .parallax__layer(data-speed="0.3")
        +image('parallax/baloon.png', 'parallax__image')
    .parallax__layer(data-speed="0.4")
        +image('parallax/cloud.png', 'parallax__image')
    .parallax__layer(data-speed="0.5")
        +image('parallax/man.png', 'parallax__image')
    .parallax__layer(data-speed="0.6")
        +image('parallax/mountain1.png', 'parallax__image')
    .parallax__layer(data-speed="0.7")
        +image('parallax/white.png', 'parallax__image')