- 
    var menu = [
        ['Главная', '#mainsection'],
        ['Обо мне', '#about'],
        ['Навыки','#values'],
        ['Работы', '#works'],
        ['Отзывы','#reviews-section'],
        ['Связаться', '#contacts']
    ]
+menu(menu).main-menu