script(type="text/x-template")#slider-container
    .slider
        display(
            :works="works"
            :current-work="currentWork"
        )
        info(
            :current-work="currentWork"
        )

script(type="text/x-template")#slider-display
    .slider__pic
        .slider__content
            .slider__photo
                img(:src="currentWork.photo").slider__fullpic
            thumbs(
                :works="works"
                :current-work="currentWork"
            )
            btns()

script(type="text/x-template")#slider-thumbs
    .slider__preview
        ul.previews 
            li.previews__items(
                v-for="work in works"
                :key=" work.id"
                :class="{active: work.id=== currentWork.id}"
                )
                a.previews__link
                    img(:src="work.photo" alt="").previews__pic
    
script(type="text/x-template")#slider-btns
    .slider__btns
        .slider-buttons
            button.slider-button.slider-button--slide--prev
                +icon('arrow-down', 'prev__icon')
            button.slider-button.slider-button--slide--next
                +icon('arrow-down', 'prev__icon prev__icon--next')

script(type="text/x-template")#slider-info
    .slider__data
        tags()
        h3.slider__title {{currentWork.title}}
        .slider__desc.section-text
            p {{currentWork.text}}
        a(:href="currentWork.link").slider__link Посмотреть сайт

script(type="text/x-template")#slider-tags
    .slider__tags
        ul.tags__list
            li.tags__item