.triangles
    svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(points="0, 0 0, 100 1000, 100")
    svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
        polygon(points="0, 100 1000, 100 1000, 0")