.user
    .about__left
        .avatar.user__avatar
            +image("content/perizat.png", "avatar__pic")
        ul.user__desc
            - 
                var items = [
                    ['Проживаю', 'Астана'],
                    ['Возраст', '26'],
                    ['Родилась', '15 апреля 1993'],
                    ]
            each item in items
                li.user__desc-item
                    .user__key #{item[0]}:&nbsp 
                    .user__value #{item[1]}
    .about__right
        h4.about__title.section-text Привет, меня зовут
        h2.about__name Перизат Кожагельдина
        .about__text.section-text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
        .about__ps.section-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!