section.mainsection
    .container.mainsection__container
        header.mainsection__header
            .mainsection__logo
                .logo ПК
            .mainsection__menu
                - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                +menu(menu)
            .mainsection__links
                - var icons = ['insta', 'vk', 'github']
                +socials(icons)
            .fixed-menu
                svg.fixed-menu__item(viewBox="0 0 50 50" preserveAspectRatio="none")
                    line(x1="0" y1="0" x2="50" y2="0")
        .mainsection__content
            .user-info
                h1.user-info__desc Личный сайт веб разработчика
                .user-info__name Перизат Кожагельдина
        .scroll-down-btns
            .scroll-text Скролл
            +icon('scroll', 'scroll-icon')