section.mainsection
    .container.mainsection__container
        header.mainsection__header
            .mainsection__logo
                .logo ПК
            .mainsection__menu
                include ../components/menu
            .mainsection__links
                include ../components/socials
        .mainsection__content
            include ../components/user-info
        include ../components/scroll-down-btns