include ../components/triangles
section.values#values
    .container.values__container
        h2.section-title.values__title Чем я могу быть полезен вам
        .values__desc.section-text
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .values__widget
            #skills-component