include ./mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        include ./template/components/fixed-display
        .welcome-section
          include ./template/sections/mainsection
          include ./template/sections/about
          include ./template/components/mainparallax
        include ./template/sections/values              
        include ./template/sections/works      
        .budda-section
          include ./template/sections/reviews-section                
          include ./template/sections/contacts 
          include ./template/components/budda-parallax
        include ./template/components/footer

    include ./template/entry