include ./mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          include template/mainsection.pug
          include template/about.pug
        .triangles
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0, 0 0, 100 1000, 100")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0, 100 1000, 100 1000, 0")
        include template/values.pug                
        include template/works.pug        
        .triangles.triangles--lightblue
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0, 0 0, 100 1000, 100")
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0, 100 1000, 100 1000, 0")
        .budda-section
          include template/reviews.pug                  
          include template/contacts.pug                            
          include template/footer.pug      
        include template/fixed-menu.pug                      
          

