.add-btn {
    cursor: pointer;
    color: $hover-color;
    content: "+";
    text-align: center;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(to right,#1b53de, 50%, #3f35cb);
}