.reviews__content {
    background: #f7f9fe;
    height: 100%;
    padding-bottom: 50px;
}

.reviews__blocks {
    display: grid;
    grid-row-gap: 50px;
}

.reviews-newblock {
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(#ccc, .5);
}