.skills__btns {

}

.btns__pencil {
    display: block;
    width: 30px;
    height: 30px;
    background: svg-load('pencil.svg', fill=rgba($text-color, .5), width="15px", height="15px") no-repeat center center;
    margin-right: 20px;
}

.name__pencil {
    margin: 0;
}

.btns__remove {
    display: block;
    width: 30px;
    height: 30px;
    background: svg-load('trash.svg', fill=rgba($text-color, .5), width="15px", height="15px") no-repeat center center;
}